<!DOCTYPE html>
<html lang="en" charset="utf-8" class="dark:invert">
    <head>
        <title>{{ block "title" . }}{{ if  .Title }}{{ strings.ToLower .Title }} | {{end}}{{ strings.ToLower .Site.Title }}{{ end }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <script src="https://kit.fontawesome.com/547d30eccb.js" crossorigin="anonymous"></script>
        {{ if .Param "math" }}
            {{ partialCached "math.html" . }}
        {{ end }}
        
        {{ partialCached "css.html" . }}
    </head>
    <body class="absolute bg-white min-h-screen w-screen">
        {{ block "navbar" . }}
        <div class="fixed z-20 w-full">
        <div class="bg-darkblue rounded-sm text-white flex flex-col m-5 min-h-12 sm:flex-row content-center justify-between font-mono shadow-offset py-2 px-5">
            <div class="content-center font-black px-1 sm:mr-3"><a href="/">{{ strings.ToLower .Site.Params.Author.first }} {{strings.ToLower .Site.Params.Author.last }}</a></div>
            <div class="grow content-center py-1"><hr class="border border-w-5"></div>
            <nav class="flex justify-end sm:ml-3">
                {{ range $i, $n := .Site.Params.navLinks }}
                    <a class="h-full hover:rounded-sm px-1 hover:bg-periwinkle hover:text-darkblue {{ if eq $.Page.RelPermalink .link }}font-bold {{ end }} content-center" href="{{ .link }}">
                        {{ strings.ToLower .name }}
                    </a>
                    {{ if lt $i (sub (len $.Site.Params.navLinks) 1) }}
                    <p class="h-full content-center">|</p>
                    {{ end }}
                {{ end }}
                <p class="h-full content-center">|</p>
                <script type="text/javascript">
                    document.documentElement.classList.toggle(  "dark",  localStorage.theme === "dark" ||    (!("theme" in localStorage) && window.matchMedia("(prefers-color-scheme: dark)").matches),)
                    function toggleDarkMode() {
                        var status = document.documentElement.classList.toggle("dark")
                        if (status) {
                            localStorage.theme = "dark"
                        } else {
                            localStorage.theme = "light"
                        }
                    }
                </script>
                <button onclick="toggleDarkMode()" class="hover:rounded-sm cursor-pointer hover:bg-periwinkle hover:text-darkblue h-full content-center px-1"><i class="fa-solid fa-circle-half-stroke"></i></button>
            </nav>
        </div>
        </div>
        <div class="fixed -top-10 h-35 w-full sm:h-30 z-10 bg-white blur-xs"></div>
        <div class="relative h-25 w-full sm:h-20"></div>
        {{ end }}
  
        {{ block "main" . }}
        {{ end }}
    </body>
</html>
