<!DOCTYPE html>
<html lang="en" charset="utf-8">
    <head>
        <title>{{ block "title" . }}{{ strings.ToLower .Site.Title }}{{ end }}</title>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="height=device-height, width=device-width, initial-scale=1.0"/>
        <link rel="icon" type="image/x-icon" href="/img/favicon.ico">
        <script src="https://kit.fontawesome.com/547d30eccb.js" crossorigin="anonymous"></script>
        
        {{ partialCached "css.html" . }}
    </head>
    <body class="bg-periwinkle text-offblack min-h-screen">
        <div class="flex flex-col min-h-screen">
            {{ block "navbar" . }}
            <div class="bg-periwinkle flex flex-col px-2 min-h-12 sm:flex-row content-center justify-between font-mono">
                <div class="p-2 content-center"><a href="/">{{ strings.ToLower .Site.Params.Author }}</a></div>
                <div class="grow mx-2 content-center pt-1"><hr></div>
                <nav class="flex flex-wrap flex-row-reverse content-center">
                    {{ range .Site.Sections }}
                        <a class="mx-2 py-2 h-full hover:bg-darkpurple hover:text-periwinkle content-center" href="{{ .RelPermalink }}">
                            {{ strings.ToLower .LinkTitle }}
                        </a>
                    {{ end }}
                </nav>
            </div>
            {{ end }}

        
            {{ block "main" . }}
            {{ end }}
    </body>
</html>
