{{ define "main" }}
    <div class="flex flex-col bg-offwhite m-5  gap-5 items-center">
    {{ range $i, $p := .Pages }}
        <div class="p-2 sm:p-3 rounded-sm  bg-periwinkle  flex shrink-0 flex-col w-full sm:w-xl shadow-offset grow">
            <div class="mx-2 grow">
                <a href="{{ .RelPermalink }}" class="underline decoration-dotted dotted-underline text-xl font-bold font-mono">{{ .Title }}</a>
                <p class="text-gray italic font-mono text-sm mt-1">
                    {{ time.Format "2006-01-02" .Date }}
                    {{ range .GetTerms "series" }}
                    —
                    <a href="{{ .RelPermalink }}" class="underline decoration-dotted">{{ strings.ToLower .Title }} #{{ fmt.Printf "%03d" $p.Params.seriesentry }}</a>
                    {{ end }}
                    {{ if gt (len (.GetTerms "tags")) 0 }}
                    —
                    {{ end }}
                    {{ range .GetTerms "tags" }}
                    <a href="{{ .RelPermalink }}" class="underline decoration-dotted">#{{ strings.ToLower .Title }}</a>
                    {{ end }}
                </p>
            </div>
            <hr class="my-1.5 grow">
            <p class="mx-2 text-sm grow">{{ .Description }}</p>
        </div>
    {{ end }}
    </div>
{{ end }}